html, body {
  padding:0 0;
  margin: 0 0;
  font-family: Times-New-Roman;
}

/*== Styles pour la navigation == */

#navigation {
  background: #000;
  position: fixed;
  z-index:3;
  width: 100%;
  top:0;
}

.navigation-title {
  padding:auto 1.5em;
  font-weight:bold;
  font-family: 'Press Start 2P', cursive;
}

.navigation-menu {
  display:inline;
 }

.navigation-items {
  float: left;
  display:inline-block;
  color: #fff;
  font-weight: bold;
  background: #000;
  list-style-decoration: none;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 1em;
  margin: 0 0;
}

.navigation-link {
   color:#fff;
   font-weight: bold;
   text-decoration:none; 
   
}

.navigation-link:hover {
   text-decoration:underline; 
}

.navigation-ending {
    width:100%;
    margin-bottom:0;
}

.navigation-mobile {
    display:none;
    position:fixed;
    z-index: 3;
    padding: 1em auto;
    float:left;
    width:100%;
    height:13%;
    color:#fff;
    background-color: #000;
}

.navigation-item-mobile {
   display:inline;
   font-weight:bold;
   list-style-type:none;
   float:left;
   padding:.4em .45em;
   color:#fff;
   background-color: #000;
}

.navigation-link-mobile {
   text-decoration:none;
   color:#fff;
   background-color:#000;
}

/* == Style pour les titres == */

.site-title {
  color:#fff;
  font-size:1.40em;
  font-weight: bold;
  text-align:center;
  margin-top: 0;
  margin-bottom: 0;
}

.site-slogan {
  padding: 1em auto;
  font-size:1em;
  text-align:justify;
  display:inline;
  color:#fff;

}
  

#content{
  padding: 6em 2em;
}


/*== Style pour les articles == */


.articles-list {
   list-style-type:none;
   color: #fff;
   background-color: #000;
   padding-top: 1em;
   padding-bottom: 1em;
   margin-top: 1em;
   margin-bottom: 1em;
}

.article-link {
   color:white;
   padding-left: 2em;
   padding-right: 1em;
   text-decoration:none;
}

.article-title{
  font-weight:bold;
  font-family: 'Press Start 2P', cursive;
}

.article-subtitle{
  font-size:0.94em;
    font-family: 'Press Start 2P', cursive;

}

.article-info:first-letter{
  font-size: 200%;
  font-weight: bold;
}

/* == Style pour le footer == */

.footer-ending {
    margin-bottom:0px;
    margin-top:0px;
 }

.coolfooter {
    width: 100%;
    position:fixed;
    z-index: 3;
    bottom: 0;
    color: #fff;
    background-color: #000;
 }

 .logo-link {
   height: 40px;
   width: 40px;
}

/* == Style particuliers == */

.credits {
  text-align: right;
}

.code-citation{
  width:100%;
  position:relative;
}

.dotted {
    width:100%;
    position: relative;
    z-index:2;
    border: 0;
    border-bottom: 2px dashed #000;
    background: #fff;
}

/* == Style particulier pour la page about == */



/* == Style pour le portrait about == */

.about-container {
   display:flex;
   flex-direction:row;
}

.about-description {
   padding-left: 1em; 
   flex: 2 0 0 ;

}

.portrait {
   height: 220px;
   width: 100px;
   flex: 0.5 0 0;
}

/* == Responsivité == */

@media (max-width:768px){ 
   .navigation-items {
	padding-right:2em;
   }

}

@media (max-width: 767px){
   .navigation-items{
	display:none;
   }
   .navigation-mobile{
	display: inline;
   }

   .about-container {
	display:flex;
	flex-direction:column;
   }
   
}
