html, body {
  padding:0 0;
  margin: 0 0;
  font-family: Times-New-Roman;
}

/* Style emprunté a http://adis.ca/article/pretty-code-block-in-css  */

pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 95%;
	line-height: 140%;
	white-space: pre;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
}       

code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 95%;
	line-height: 140%;
	white-space: pre;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	background: #faf8f0;
}

.code-presentation{
	display: block;
	padding: 0.5em 1em;
	border: 1px solid #bebab0;
}

/* Fin du code emprunté */


/* Style emprunte sur https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/ */

blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
	width:70%;
}
blockquote:before {
	color: #ccc;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}

blockquote:after{
	content:"";
}

blockquote p {
	display: inline;
}

/* FIn du style emprunté */


article {
  padding-bottom: 1.5em;
}

/*== Styles pour la navigation == */

#navigation {
  background: #000;
  position: fixed;
  z-index:3;
  width: 100%;
  top:0;
}

.navigation-title {
  padding:auto 1.5em;
  font-weight:bold;
  font-family: 'Press Start 2P', cursive;
}

.navigation-menu {
  display:inline;
 }

.navigation-items {
  float: left;
  display:inline-block;
  color: #fff;
  font-weight: bold;
  background: #000;
  list-style-decoration: none;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 1em;
  margin: 0 0;
}

.navigation-link {
   color:#fff;
   font-weight: bold;
   text-decoration:none; 
   
}

.navigation-link:hover {
   text-decoration:underline; 
}

.navigation-ending {
    width:100%;
    margin-bottom:0;
}

.navigation-mobile {
    display:none;
    position:fixed;
    z-index: 3;
    padding: 1em auto;
    float:left;
    width:100%;
    height:13%;
    color:#fff;
    background-color: #000;
}

.navigation-item-mobile {
   display:inline;
   font-weight:bold;
   list-style-type:none;
   float:left;
   padding:.4em .45em;
   color:#fff;
   background-color: #000;
}

.navigation-link-mobile {
   text-decoration:none;
   color:#fff;
   background-color:#000;
}

/* == Style pour les titres == */

.site-title {
  color:#fff;
  font-size:1.40em;
  font-weight: bold;
  text-align:center;
  margin-top: 0;
  margin-bottom: 0;
}

.site-slogan {
  padding: 1em auto;
  font-size:1em;
  text-align:justify;
  display:inline;
  color:#fff;

}
  

#content{
  padding: 6em 2em;
}


/*== Style pour les articles == */


.articles-list {
   list-style-type:none;
   color: #fff;
   background-color: #000;
   padding-top: 1em;
   padding-bottom: 1em;
   margin-top: 1em;
   margin-bottom: 1em;
}

.article-link {
   color:white;
   padding-left: 2em;
   padding-right: 1em;
   text-decoration:none;
}

.article-title{
  font-weight:bold;
  font-family: 'Press Start 2P', cursive;
}

.article-subtitle{
  font-size:0.94em;
  font-family: 'Press Start 2P', cursive;

}

.article-info:first-letter{
  font-size: 200%;
  font-weight: bold;
}

.articles-navigation {
  padding: 1em 1em;
  margin: 1em auto;
  font-weight:bold;
  color:#fff;
  background-color: #000;
  text-decoration:none;
}

.end-of-article{
  padding-top:2em;
}

/* == Style pour le footer == */

.footer-ending {
    margin-bottom:0px;
    margin-top:0px;
 }

.coolfooter {
    width: 100%;
    position:fixed;
    z-index: 3;
    bottom: 0;
    color: #fff;
    background-color: #000;
 }

 .logo-link {
   height: 40px;
   width: 40px;
}

/* == Style particuliers == */

.credits {
  text-align: right;
}

.dotted {
    width:100%;
    position: relative;
    z-index:2;
    border: 0;
    border-bottom: 2px dashed #000;
    background: #fff;
}

/* == Style particulier pour la page about == */



/* == Style pour le portrait about == */

.about-container {
   float:left;
   display:inline-block;
   padding-bottom: 1em;
}

.about-description {
   padding-left: 2em; 

}

.portrait {
   height: 220px;
   width: 150px;
   float:left;
   padding-right: 2em;
}


/* == Projects style == */

.projects-list-item {
  list-style-type:none;
  padding: 1em  0.4em;
}

/* == Responsivité == */

@media (max-width:768px){ 
   .navigation-items {
	padding-right:2em;
   }

   .portrait {
	padding-right:0em;
   }

}

@media (max-width: 767px){
   .navigation-items{
	display:none;
   }
   .navigation-mobile{
	display: inline;
   }

   .portrait {
	float:none;

   }
   .about-description {
	display:block;
	padding-left:0em;
   }

   
}
