
/* == Style pour le footer == */

.footer-ending {
    margin-bottom:0px;
    margin-top:0px;
 }

.coolfooter {
    width: 100%;
    position:fixed;
    z-index: 3;
    bottom: 0;
    color: #fff;
    background-color: #000;
 }

 .logo-link {
   height: 40px;
   width: 40px;
}

