/*
Error: Undefined mixin 'column'.
        on line 8 of css/layouts/grids.scss, in `column'
        from line 8 of css/layouts/grids.scss

3:     padding-left: 0em;
4:     padding-right: 0em;
5: }
6: 
7: div.main-column {
8:     @include column(1/3,0,0,0,0);
9:     text-align: center;
10: }

Backtrace:
css/layouts/grids.scss:8:in `column'
css/layouts/grids.scss:8
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:348:in `block in visit_mixin'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:98:in `block in with_mixin'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:98:in `with_mixin'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:346:in `visit_mixin'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:430:in `block (2 levels) in visit_rule'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:430:in `map'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:430:in `block in visit_rule'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `map'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:157:in `visit'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/engine.rb:285:in `render_with_sourcemap'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `each'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:328:in `block in watch'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/listen-2.10.0/lib/listen/listener.rb:291:in `call'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/listen-2.10.0/lib/listen/listener.rb:291:in `_process_changes'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/listen-2.10.0/lib/listen/listener.rb:255:in `block in _wait_for_changes'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/listen-2.10.0/lib/listen/listener.rb:238:in `loop'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/listen-2.10.0/lib/listen/listener.rb:238:in `_wait_for_changes'
/home/simplon/.rvm/gems/ruby-2.1.0/gems/listen-2.10.0/lib/listen/listener.rb:327:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'column'.\A         on line 8 of css/layouts/grids.scss, in `column'\A         from line 8 of css/layouts/grids.scss\A \A 3:     padding-left: 0em;\A 4:     padding-right: 0em;\A 5: }\A 6: \A 7: div.main-column {\A 8:     @include column(1/3,0,0,0,0);\A 9:     text-align: center;\A 10: }"; }
