    <header>
    <div class="mosleymos-blog-navigation">
    <div class='mosleymos-blog-navigation-section'><a href='/'><img src='/img/mosleymos_logo.png' class='logo-mosleymos-style' /></a></div>
    <div class='mosleymos-blog-navigation-section styling-navigation'><a
        class='mosleymos-blog-navigation-section-link' href='/posts'>Posts</a></div>
    <div class='mosleymos-blog-navigation-section styling-navigation'><a
        class='mosleymos-blog-navigation-section-link' href='/projects'>Projets</a></div>
    <div class='mosleymos-blog-navigation-section styling-navigation'><a
        class='mosleymos-blog-navigation-section-link' href='/about'>A propos</a></div>
    </div>
    </header>

