    <header>
      <nav>
        <ul class='site-navigation'>
          <li><a href="/" class='site-navigation-link'>Accueil</a></li>
          <li><a href="/posts" class='site-navigation-link'>Posts</a></li>
          <li><a href="/projects" class='site-navigation-link'>Projets</a></li>
          <li><a href="/about" class='site-navigation-link'>A propos</a></li>
        </ul>
      </nav>


      <nav class='dropdown-hidden-menu'>

        <ul class='dropdown-menu'>
            <li><a href="/" class="dropdown-item">Accueil</a></li>
            <li><a href="/posts" class="dropdown-item" >Posts</a></li>
            <li><a href="/projects" class="dropdown-item" >Projets</a></li>
            <li><a href="/about" class="dropdown-item" >A propos</a></li>
        </ul>
      </nav>
    </header>

