        <section>
            <article>


                            <h3 class="article-title">CodeLab Ruby spec Css</h3>

			    <hr class="dotted">
			    

                        <div class="panel-body">
                            <p>La semaine dernière le 30 avril j'ai participé à un codelab au sein du NUMA.</p>
                            <p>Durant celui ci j'ai essayé avec un autre développeur de créer une librairie pour tester le code CSS, un sujet que j'avais déjà evoqué auparavant.</p>
                            <p>Le résultat de cette expérimentation se trouve au sein de ce <a href="https://gist.github.com/simonc/dd5c4bcb637e50fceb71">gist</a>.</p>
                            <p>Le code teste si deux zones de css se superposent "hoverlap" entre elles, mais aussi verifie si un hover est effectué sur un élément. C'est une première étape mais bon en deux petites heures je trouve que c'est pas mal.</p>
                            <p>Le test fonctionne dans le cadre d'une application Rails</p>
                        </div>

            </article>
	    <articlesfooter></articlesfooter>
        </section>


