
        <section>
            <article>

            <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Pensée du jour
                            </h3>
                        </div>
                        <div class="panel-body">
                            <p>La pensée du jour qui m'est passé par la tête est:</p>
                            <blockquote>Un esprit sain dans un corps sain et dans un environnement propre ?</blockquote>
                            <p>Faut dire que pour l'instant j'en suis loin du compte mais je m'en approche.</p>
                        </div>
                        <div class="panel-footer">
                        </div>
                    </div>


            </article>
        </section>

