        <section>
            <article>

                            <h3 class="article-title">Hello World</h3>

			    <hr class="dotted">

			    
                        <div class="panel-body">
                            <p>It's my first post, and frankly I don't know what's to begin with. 
                            Maybe because this blog has been decided to be created on a whim.</p>
                            <p>
                            I'd wanted to try github personnal page service so here we are.
                            </p>

                        </div>

            </article>

	    <!--Disqus commentary -->
	    <div id="disqus_thread"></div>
	    <script type="text/javascript">
		    /* * * CONFIGURATION VARIABLES * * */
	    var disqus_shortname = 'mosleymos';

	    /* * * DON'T EDIT BELOW THIS LINE * * */
	    (function() {
	     var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	     dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	     (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	     })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

	    <articlesfooter></articlesfooter>

        </section>
