        <section>
            <article>

                            <h3 class="article-title">Hello World</h3>

			    <hr class="dotted">

			    
                        <div class="panel-body">
                            <p>It's my first post, and frankly I don't know what's to begin with. 
                            Maybe because this blog has been decided to be created on a whim.</p>
                            <p>
                            I'd wanted to try github personnal page service so here we are.
                            </p>

                        </div>

            </article>

	    <articlesfooter></articlesfooter>

        </section>
