        <section>

            <article>

                            <h3 class="article-title">
                                Jedi jihad
                            </h3>
			    <hr class="dotted">
			    
                        <div class="panel-body">
                            <p>Aujourd'hui, un jeu de mots pendant une pause café m'a fait rire, un collègue André m'a parlé de la nouvelle série de Disney sur Star Wars: Star Wars Rebels.</p>
                            <blockquote>'Jedi Jihad'</blockquote>
                            <p>Je me suis marré des petites implications qu'amenait et le dessin animé.</p>
                            <p>Heurement que c'est pour les enfants.</p>
                            <p>Il faut croire que depuis les attentats de Charlie Hebdo (1 mois maintenant), j'ai vraiment l'esprit tordu.</p>
                        </div>

            </article>

	    <articlesfooter></articlesfooter>

        </section>

