            <section>
                <article>

		<h3 class="article-title"> JEET a css framework for human (or I think so)</h3>
		<hr class="dotted">
		
                        <div class="panel-body">
    <p>
                Recently I've discovered JEET a css framework very simple.
                Although I use bootstrap in order to organize my html, the code it's
                quite "noisy" and "dirty"
                </p>
                <p>
                I mean for instance in order to simply use 1 row divide in two equals parts 
                I need to write this code
                It's quite long and when I've got to look after I've got dozen and dozen 
                of rows It's quite an hassle to read.
                </p>
                <p>
                Then I've discovered JEET which got a simpler syntax than above.
                <code>
                    column
                </code>
                </p>
                <p>I think I'll change progressively to this framework.</p>
                <p>Their slogan "A grid system for humans" sounds great</p>
                <p>Here the link to the project <a href="http://jeet.gs">JEET</a></p>


                        </div>
                        


                </article>

		<disqus></disqus>

		<articlesfooter></articlesfooter>

            </section>

