            <section>


                <article>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                            Long Code
                            </h3>
                        </div>
                        <div class="panel-body">
                            <p>Recently I make some katas in ruby, javascript and python with the site <a href="http://www.codewars.com">Codewars</a></p>
                            <p>I try during these exercices to solve the problem with one line of code.</p>
                            <p>The fizzbuzz problem end with this type of code</p>
                            <p>Quite funny! and recently I've found this.</p>


                    <script src="https://gist.github.com/mosleymos/e1b7bf4637bb635e098c.js"></script>
                            <p>Not usable in my state of knowledge but I'll continue to learn.</p>

                        </div>
                        <div class="panel-footer">
                        </div>
                    </div>

                </article>

            </section>

