            <section>


                <article>

                           <h3 class="article-title">
                            Long Code
                            </h3>
			    <hr class="dotted">
			    
                        <div class="panel-body">
                            <p>Recently I make some katas in ruby, javascript and python with the site <a href="http://www.codewars.com">Codewars</a></p>
                            <p>I try during these exercices to solve the problem with one line of code.</p>
                            <p>The fizzbuzz problem end with this type of code</p>
                            <p>Quite funny! and recently I've found this.</p>


                    <script src="https://gist.github.com/mosleymos/e1b7bf4637bb635e098c.js"></script>
                            <p>Not usable in my state of knowledge but I'll continue to learn.</p>

                        </div>
                </article>

		<articlesfooter></articlesfooter>

            </section>

