        <section>

            <article>

                <div class="col-md-8 column">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Grep methods</h3>

                        </div>
                        <div class="panel-body">
                            <p>Un peu par hasard j'ai découvert que grep d'unix était présent en ruby.</p>
                            <p>Ainsi sur un objet quelconque on peut greper pour trouver des methodes selon une regexp</p>
                            <p><em>.grep</em> est a rajouter avec <em>.inspect</em> dans mes methodes pour verifier les objets sous pry.</p>
                        </div>
                        <div class="panel-footer">
                        </div>
                    </div>



            </article>

        </section>

