
/* == Style pour les titres == */

.site-title {
  color:#fff;
  font-size:1.40em;
  font-weight: bold;
  text-align:center;
  margin-top: 0;
  margin-bottom: 0;
}

.site-slogan {
  padding: 1em auto;
  font-size:1em;
  text-align:justify;
  display:inline;
  color:#fff;

}
  

#content{
  padding: 6em 2em;
}



