body {
  background-color: $background-color;
}

h1 h2 h3 h4 h5 {
  font: sans-serif;
}

ul ol {
}

li {
  list-style-type: none;
  font-size: 18px;
}

p {
  font-size: 18px;
  font: sans-serif;
  text-align:left;
}
