footer {
    background-color: white;
}


.footer {
    clear:both;

    position:absolute;
    bottom:0px;
    left: 1em;
    right:1em;
}

.footer-links {
    display:inline;
    text-align:center;
    color: black;
    @include column(1/3);
}

.footer-links-item {
    padding-left:1em;
    padding-right:1em;
    float:left;
    list-style-type:none;
}
