.background-stripe {
  background-color: rgba(119, 46, 78, 0.85);
  width: 100%;
  height: 291px;
  position: absolute;
  margin-top: 122px;
  z-index: -1;
  display:inline;
  position: fixed;

  @media screen and (max-width: 400px){
    display: none;
  }

}
