
svg {
  height: 50%;
  width: 50%;
}

.footer {
  margin-top: 44px;
}

ul.footer-menu {
  padding-right: 3em;
  text-align:right;
  display: inline-flex;
  height: 30%;
}

li.footer-menu-item {
}

.footer-menu-link {
  padding: 0em .5em;
}

.github-icon { }
.twitter-icon { }
.email-icon { }
