/*
Error: Undefined variable: "$basic-font-themed-color".
        on line 6 of css/components/_header.scss

1: .site-navigation {
2:   display: flex;
3: }
4: 
5: .site-navigation-link {
6:   color: $basic-font-themed-color;
7:   font-size: 22px;
8:   list-style:none;
9:   padding-right: 1em;
10: }
11: 

Backtrace:
css/components/_header.scss:6
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/script/tree/variable.rb:49:in `_perform'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/script/tree/node.rb:58:in `perform'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:397:in `visit_prop'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:433:in `block (2 levels) in visit_rule'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:433:in `map'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `map'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:159:in `visit'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:294:in `watch'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/plugin.rb:109:in `method_missing'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:51:in `process_result'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/exec/base.rb:52:in `parse'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/lib/sass/exec/base.rb:19:in `parse!'
/home/mori/.rvm/gems/ruby-2.2.2/gems/sass-3.4.22/bin/sass:13:in `<top (required)>'
/home/mori/.rvm/gems/ruby-2.2.2/bin/sass:23:in `load'
/home/mori/.rvm/gems/ruby-2.2.2/bin/sass:23:in `<main>'
/home/mori/.rvm/gems/ruby-2.2.2/bin/ruby_executable_hooks:15:in `eval'
/home/mori/.rvm/gems/ruby-2.2.2/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$basic-font-themed-color\".\A         on line 6 of css/components/_header.scss\A \A 1: .site-navigation {\A 2:   display: flex;\A 3: }\A 4: \A 5: .site-navigation-link {\A 6:   color: $basic-font-themed-color;\A 7:   font-size: 22px;\A 8:   list-style:none;\A 9:   padding-right: 1em;\A 10: }\A 11: "; }
