.content-homepage {
  padding: 120px 40px;
  text-align: center;
}

.content-homepage-welcome-title {
  font-size: 24px;
  color: black;
  font-style: Sans-serif;
  text-align: center;
}

.content-homepage-slogan {
  font-style: italic;
  font-size: 18px;
  color:black;
  text-align: center;
}

.content-homepage-email {
  @media screen and (max-width: 399px){
    display: inline;
    float: left;

    padding-right: 1em;
    margin-left: -1.5em;

    text-align: center;
  }
}

.content-homepage-short-presentation {
  margin-top: 30px;
  text-align: center;
}
