.post-header {
  text-align:center;
}

.post-title {
  font-size: 28px;
  text-align:center;
}

.post-meta {
  text-align: center;
}

.post-content {
  margin: 1em auto;
  padding: 1em auto;
  text-align:center;
  overflow: auto;
}

.post-list {
  padding: 0;
  margin: 0;
  line-height: 35px;
  list-style-type:none;
}

.post-link {
  text-decoration: none;
  font-size: 18px;
  font: sans-serif;
  color: black;
  &:hover {
    color:#da9db7;
  }
}
