
<h2 class="navigation-title">A propos de moi</h2>
<div class="about-container">
	<img src="img/Mori_portrait.JPG" alt="Photo personnelle" class="portrait">
	<div class="about-description">
		<p>Ancien simplonien, je code sur les langages Ruby, python et javascript. </p>
		<p>En ce moment je travaille sur une traduction de la documentation officielle de Meteorjs en français.</p>

	<h4><a class="" href="http://www.github.com/mosleymos">Mon profil github</a></h4>
	<h4><a class="" href="http://fr.viadeo.com/fr/profile/mori.keita1">Mon profil viadeo</a></h4>
	<h4><a class="" href="http://mosleymos.github.io/#/rss">Flux rss</a></h4>
	</div>
</div>

