
<h3>A propos de moi</h3>
<div class="about-container">
	<img src="img/mori.jpg" alt="Photo personnelle" class="portrait">
	<div class="about-description">
		<p class="">Ancien simplonien, je code sur les langages Ruby, python et javascript. 
		J'ai travaillé sur le site IWheelShare une plateforme de partages d'anécdotes de personnes en situation d'handicap et ce de manière géolocalisée.</p>
		<p>En ce moment je travaille sur une traduction en français de la documentation de meteorjs</p>
	</p>
	</div>
</div>

