        <section>

	<h2 class="navigation-title">Liste des articles</h2>


	<ul class="">
		<li class="articles-list"> <a class="article-link" href="/#/articles/helloworld">Hello World</a> </li>
		<li class="articles-list"> <a class="article-link" href="/#/articles/ruby_training">Fizzbuzz</a> </li>
		<li class="articles-list"> <a class="article-link" href="/#/articles/jedi_jihad">Jedi Jihad</a> </li>
		<li class="articles-list"> <a class="article-link" href="/#/articles/jeet_css">Jeet css</a> </li>
		<li class="articles-list"> <a class="article-link" href="/#/articles/corpore_sano">Corpore sano</a> </li>
		<li class="articles-list"> <a class="article-link" href="/#/articles/codelab_css_testing">Codelab css</a> </li>
		<li class="articles-list"> <a class="article-link" href="/#/articles/javascript_linux_emulation">Javascript PC</a> </li>
		<li class="articles-list"> <a class="article-link" href="/#/articles/movie_news">Movie news</a> </li>
		<li class="articles-list"> <a class="article-link" href="/#/articles/ruby_grep">Ruby grep</a> </li>
		<li class="articles-list"> <a class="article-link" href="/#/articles/css_testing">Test en css</a> </li>
	</ul>


        </section>

