        <section>


	<ul>
		<li> <a href="/#/articles/helloworld">Hello World</a> </li>
		<li> <a href="/#/articles/ruby_training">Fizzbuzz</a> </li>
		<li> <a href="/#/articles/jedi_jihad">Jedi Jihad</a> </li>
		<li> <a href="/#/articles/jeet_css">Jeet css</a> </li>
		<li> <a href="/#/articles/corpore_sano">Corpore sano</a> </li>
		<li> <a href="/#/articles/codelab_css_testing">Codelab css</a> </li>
		<li> <a href="/#/articles/javascript_linux_emulation">Javascript PC</a> </li>
		<li> <a href="/#/articles/movie_news">Movie news</a> </li>
		<li> <a href="/#/articles/ruby_grep">Ruby grep</a> </li>
		<li> <a href="/#/articles/css_testing">Test en css</a> </li>
	</ul>


        </section>

