	<h2 class="navigation-title">Mes projets actuels</h2>
	<ul>
		<li class="projects-list-item"><a href="http://www.iwheelshare.com">I Wheel Share</a> Une plateforme de recueil de témoignages, anecdotes de personnes en situation d'handicap et ce de manière géolocalisée.</li>
		<li class="projects-list-item"><a href="http://iwheelmap.herokuapp.com">Version test du site I WheelShare</a></li>
		<li class="projects-list-item"><a href="https://github.com/mosleymos/frenchmeteorjsbook">French traduction of meteorjs</a></li>
	</ul>
