
/* == Responsivité == */

@media (max-width:768px){ 
   .navigation-items {
	padding-right:2em;
   }

   .portrait {
	padding-right:0em;
   }

}

@media (max-width: 767px){
   .navigation-items{
	display:none;
   }
   .navigation-mobile{
	display: inline;
   }

   .portrait {
	float:none;

   }
   .about-description {
	display:block;
	padding-left:0em;
   }

   
}
